<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<navbar th:replace="fragments/admin/navbar :: navbar"></navbar>
<div class="container-fluid">
    <!-- login -->
    <form class="form-horizontal" role="form" method="POST" th:action="@{/login}">
        <div class="row">
            <div class="col-6">
                <h2>Please Login</h2>
                <hr>
                <div class="alert alert-danger" th:if="${param.error != null}">
                    Invalid username and password.
                </div>
                <div class="alert alert-success" th:if="${param.logout != null}">
                    You have been logged out.
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center pt-5">
            <div class="col-6">
                <h2>Please Login</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="alert alert-info">
                    <p>
                        <u>Demo credentials</u><br />
                        User: <strong>admin@gmail.com</strong><br />
                        Password: <strong>password</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user fa-lg"></i>
                            </div>
                        </div>
                        <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-key fa-lg"></i>
                            </div>
                        </div>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center pt-3">
            <div class="col-6">
                <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>
