<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<navbar th:replace="fragments/navbar :: navbar"></navbar>
<div class="container">
    <div class="row">
        <div class="col news-item">
            <h5 class="card-title" th:text="${newsItem.title}">News Title</h5>
            <p class="card-text" th:text="${newsItem.subtitle}">News Subtitle</p>
            <p class="meta" th:text="${#temporals.format(newsItem.createdDate, 'MMMM d, yyyy')}">May 1, 2019</p>
            <p th:utext="${newsItem.html_content}">News Content</p>
        </div>
    </div>
    <a href="/news" class="btn btn-primary btn-block mt-1">Back to News</a>
</div>
</body>
</html>
