<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Styles -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet"
          href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Pet Adopter</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="admin-toolbar">
    <a class="navbar-brand font-weight-light logo" href="/">Pet Adopter Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text p-0">
            <a class="nav-link font-weight-light" href="#">
                Sign Out
            </a>
        </span>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="admin-side-nav">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-lg fa-fw fa-home"></i>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/admin/pets'}">
                            <i class="fa fa-lg fa-fw fa-paw"></i>
                            Pet Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/admin/news'}">
                            <i class="fa fa-lg fa-fw fa-newspaper-o"></i>
                            News Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-lg fa-fw fa-file-o"></i>
                            Page Management
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>

