<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<navbar th:replace="fragments/navbar :: navbar"></navbar>

<div class="row mx-0 bg">
    <div class="col">
        <div class="container">
            <div class="jumbotron jumbotron-home">
                <h1 class="display-4">Welcome to Pet Adopter <i class="fa fa-xl fa-paw"></i></h1>
                <p class="lead">This is a simple application with a public frontend and backend
                    content management system.</p>
                <hr class="my-4">
                <p>With the backend CMS, you can modify animals, news items, and pages.</p>
                <p class="lead">
                    <a class="btn btn-success btn-lg" th:href="@{'/admin/pets'}" role="button">Admin Dashboard</a>
                    <a class="btn btn-primary btn-lg" href="https://github.com/fairchilly/pet-adopter-spring/blob/master/README.md" role="button">View Docs</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row p-5 m-0">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Feature Animals
            </div>
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div th:each="featured,interation : ${featuredPets}" class="carousel-item" th:classappend="${interation.index} == 0 ? 'active' : ''">
                        <a th:href="@{'/pets/' + ${featured.id}}">
                            <img class="d-block w-100" th:src="${featured.image}" th:alt="${featured.name}">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="featured-name" th:text="${featured.name}">Pet Name</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Recent News
            </div>
            <div class="card-body">
                <div th:each="newsItem,iteration : ${news}">
                    <h5 class="card-title news-item-title" th:text="${newsItem.title}">News Title</h5>
                    <p class="meta" th:text="${#temporals.format(newsItem.createdDate, 'MMMM d, yyyy')}">May 1, 2019</p>
                    <p>
                        <span class="card-text" th:text="${newsItem.substringSubtitle()}">News Subtitle</span>
                        <a th:href="@{'/news/' + ${newsItem.id}}">...read more</a>
                    </p>
                    <hr th:unless="${iteration.count == news.size()}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
